<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>{{title}}</h1>
  <app-even-size-selector></app-even-size-selector>
</div>
<hr>
<h2>Wie nutzt man den Schlüssel?</h2>
<ol>
  <li>Schlüssel ausdrucken und an den Schnittmarken ausschneiden</li>
  <li>Den Schlüssel auf ein Stück Papier legen und in die Löcher die geheime Nachricht eintragen</li>
  <li>Den Schlüssel um 90 Grad drehen</li>
  <li>Bei Punkt 2 wieder einsteigen und max noch zwei mal wiederholen</li>
  <li>Dann entweder ein neues Buchstabenquadrat beginnen</li>
  <li>Oder sollte die Nachricht zuende sein, die restlichen Felder mit Verschleierungszeichen füllen wie 'A B C ...'</li>
</ol>